.background-album {
    background-image: url("../../../../assets/images/album.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 255px;
    border-radius: 18px;
}

.background-stack {
    background: linear-gradient(180deg, rgba(17, 17, 17, 0.64) 0%, rgba(17, 17, 17, 0.48) 100%);

}