.background-account {
    background-image: url("../../../../assets/images/backgoundAccount.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -10px;
    margin-right: -10px;
}