@import '../../assets/styles/validate.scss';
.wrapperContentAddressManagerPU{
    margin-top: 3.9rem;
}
.puNotifyImproving{
    background-image: url('../../assets//images/constructPopupBG.png') !important;
    background-repeat: no-repeat;
}
