@import '../../assets/styles/validate.scss';
.cardBody{
    border-radius: 8px;
    padding: 12px;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    background-size: cover !important;
    height: 176px;
    width: 280px;
}

.cardItem{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 280px;
}


.cardIcon{
    height: 68px;
    width: 68px;
}

.cardName{
    padding-top: 10px;
    font-size: 1.8rem;
    font-weight: 500;
}

.cardNameBack{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 14px;
    
}

.cardItemback{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-qr{
    align-items: center;
    width: 164px;
    height: 82px;
}

.cardBackBottom{
    font-size: 6px;
    font-weight: 600;
    color: #FFFFFF;
    opacity: 1 !important;

}
.cardBackLogoBottom
{
    font-size: 6px;
    font-weight: 600;
    color: #FFFFFF;
    opacity: 1 !important;
}

.BodyCardBottom{
    // margin-top: 20px;
    // height: 176px;
    // width: 280px;
}

.backgound-card-back{
    background-color: rgba(0, 0, 0, 0.5)
}

.cardBodyBack{
    border-radius: 8px;
    padding: 12px;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    background-size: cover !important;
    height: 176px;
    width: 280px;
}

.cardBodyBack::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.5); /* Màu đen với độ mờ 0.5 (50%) */
    backdrop-filter: blur(8px);
  }

.icon-logo-custom{
    // width: 125px; 
    // left: 50%;
    // transform: translate(-50%, 0);
    align-items: center;
}
.custom-icon-back{
    position: relative;
    z-index: 100;
}

.swiper-slide{
    display: ruby !important;
}