@import "/src/assets/styles/validate.scss";
.footer{
    display: flex;
    justify-content: center;
    background:$--glass-grad-1;
    padding: 1.5rem 0;
    position: fixed;
    backdrop-filter: blur(9px);
    bottom: 0;
    z-index: 99;
    width: calc(100vw - 5px );
    span{
        color: $--main-color;
    }
}