$--main-bg:#1E2530;
$--main-color:#1B94D2;
$--height-header:60px;
$--glass-grad-1:linear-gradient(180deg, rgba(17, 17, 17, 0.64) 0%, rgba(17, 17, 17, 0.48) 100%);
$--glass-grad-2:linear-gradient(180deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0.04) 100%);
$--color-text-label:rgba(255,255,255,0.6);
$--color-text:#fff