@import "../assets/styles/validate.scss";
.wrapperMainLayout{
    background-color: $--main-bg;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    overflow: scroll;
    min-width: 280px;
    .contentMain{
        padding: 1.2rem 2rem 5.5rem 2rem;
    }   
}   
    // background: linear-gradient(130deg,#1a638b 3%,hsla(0,0%,100%,0) 10%),linear-gradient(310deg,#707378 2%,$--main-bg 10%);
    .wrapperAccountItem{
            padding: 12px;
            border-radius: 15px;
            position: relative;
            z-index: 2;
            background: linear-gradient(180deg, rgba(11, 18, 28, 0.64) 0%, rgba(4, 14, 29, 0.48) 100%);
        &::after{
            content: "";
            width: calc(100% + 2px);
            height: calc(100% + 2px);
                position: absolute;
                top: -1px;
                left: -1px;
                border-radius: 18px;
                padding: 1px;
                background: linear-gradient(130deg,#1a638b 3%,hsla(0,0%,100%,0) 10%),linear-gradient(310deg,#707378 2%,$--main-bg 10%);
                -webkit-mask:
                    linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                z-index: -1;
        }
        .headerAccountItem{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .titleItem{
                color: rgba($color: #fff, $alpha: 0.5);

                font-size: 1.5rem;
                font-weight: 600 !important;
            }
        }
    }
